# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName yerkirmedia.am
AuthUserFile /home/yerkir/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/yerkir/public_html/_vti_pvt/service.grp
